/* flex Box */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-col {
  flex-direction: column !important;
}
.f-row {
  flex-direction: row !important;
}
.f-start {
  justify-content: flex-start;
  align-items: flex-start;
}
.f-justify-start {
  justify-content: flex-start;
}
.f-align-start {
  align-items: flex-start;
}
.f-space-btw {
  justify-content: space-between !important;
}
.f-space-eve {
  justify-content: space-evenly;
}
/* width */

.w-80 {
  width: 80vw;
}
.w-100 {
  width: 100vw;
}
@media screen and (max-width: 800px) {
  .w-mob-100 {
    width: 100vw;
  }
}

/* margin */
.m-auto {
  margin: auto;
}
.m-10 {
  margin: 1.5rem;
}
.m-t-10 {
  margin-top: 1.5rem;
}
.m-b-10 {
  margin-bottom: 1.5rem;
}

/* padding */
.p-10 {
  padding: 5px 10px;
}
.p-20 {
  padding: 10px 30px;
}
