* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 5px;
  background-color: grey;
}
a {
  text-decoration: inherit;
  color: inherit;
}
.app {
  min-height: 100vh;
  border: 8px solid grey;
  margin: 5px;
  padding: 5px;
}
